#main-title{
    font-size: 48px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

h1 {
    background-color: #CEB59A;
    font-size: 36px;
    text-align: center;
    font-family: "Trebuchet MS", Verdana, sans-serif; 
    color: white;
}