* {
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

#main-title{
    font-size: 48px;
}

h1 {
    background-color: #CEB59A;
    font-size: 36px;
    text-align: center;
    font-family: "Trebuchet MS", Verdana, sans-serif; 
    color: white;
}

h2 {
    font-size: 28px;
}

h3 {
    font-weight: bold;
}

ul {
    background-color:#CEB59A;
}

ol {
    background-color: #CFABA9;
}

.ingredients {
    color: #EA3600;
}

.extras {
    color: #836C98;
}

.instructions {
   color: #33AEE6;
   text-decoration: underline;
}

.nutrition {
    color: #56362F;
    font-weight: normal;
}

